*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

li, nav{
    list-style: none;
}
a{
    display: inline;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

header{
    color: #fff;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

#name{
    font-size: 40px;
    font-family: fantasy;
}
header nav{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}
header nav li{
    margin: 0 20px;
}

#headline{
    margin: 10pc 10pc;
    padding: 30px 100px;
    width: 50%;
    box-sizing:content-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}

@media (max-width:1000px)
{
    header{
        padding: 15px 100px;
        flex-direction: column;
    }

    header nav{
        margin: 30px;

    }

    #headline{
        margin: 5pc  5pc;
        padding: 10px 10px 10px 10px;
        font-size: 12px;
        /* width: 300px; */
    }

}
/* @import url('https://fonts.googleapis.com/css?family=Exo:400,700'); */

#context {
    text-align: center;
    width: 100%;
    position: absolute;
    top:40vh;
    
}

#context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#context h4{
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    font-family:monospace
}



.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

/* NON ANIMATIONS */
.btns{
    margin: 20px;
    text-align: center;
}
#btn{
    margin-left: 10px;
    padding: 10px;
    outline: none;
    text-align: center;
    border: none;
    background-color: #787cd6;
    color: #fff;
    font-size: 16px;
}
#btn:hover{
    border-radius: 20px;
    box-shadow: 0 0 15px white;
}

section{
    background-image: url(Images/4853433.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: cover;
    border: 2px solid black;
    width: auto;
    height: 715px;
    display: flex;
}

.recents{
    border: 2px solid black;
    width: 50%;
    height: max-content;
    margin: 30px;
    padding: 20px;
    text-align: center;
}
#text{
    margin: 50px 0 0 0;
}

.blogs{
    margin: 40px;
    padding: 15px;
    width: auto;
    border: 3px solid black;
    transition: box-shadow 0.5s;
}
.blogs:hover{
    box-shadow: 10px 10px 1px red;
    transform:scale(1);
}

@media (max-width:1000px)
{
    section{
        height: max-content;
        background-color: #A0BACC;
        flex-direction: column;
        align-items: center;
    }
    .blogs{
        margin: 15px;
    }
}